div.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: var(--primaria);
    width: 300px;
    min-height: 100vh;
    padding: 30px;
    gap: 10px;
}

div.menu-lateral div#logo {
    gap: 12px;
    margin-bottom: 20px;
}

div.menu-lateral div#logo img.logo-pequena {
    background-color: var(--terciaria);
    border-radius: var(--radius);
    padding: 8px;
    width: 50px;
    height: 50px;
}

div.menu-lateral div#logo-titulo {
    justify-content: center;
}

div.menu-lateral div#logo-titulo p {
    margin: 0;
}

div.menu-lateral div#logo-titulo p.logo-titulo {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: white;
}

div.menu-lateral div#logo-titulo p.logo-subtitulo {
    font-weight: 500;
    font-size: 10px;
    margin: 0;
    letter-spacing: 2px;
    color: var(--quaternaria);
}

div.menu-lateral button.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;

    font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;

    color: var(--texto-menu);
    background-color: transparent;

    border: 0;
    border-radius: var(--radius);

    cursor: pointer;
    transition: 0.3s;
}

div.menu-lateral button.menu[aria-pressed="true"] {
    color: var(--quaternaria);
    background-color: var(--secundaria);
    border-left: 4px solid var(--quaternaria);
}

div.menu-lateral button.menu:hover {
    color: white;
    background-color: var(--secundaria);
}

div.menu-lateral button.menu .icon {
    font-size: 25px;
}

div#inferior {
    border-top: 1px solid var(--secundaria);
    padding-top: 20px;
    gap: 10px;
}

div#inferior img.perfil {
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    border: 2px solid var(--secundaria);
}