.agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 30px;
}
.agenda .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    width: 100%;

    background-color: white;
    
    border: 1px solid var(--borda);
    border-radius: var(--radius);
}

.agenda .container .board{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}
.agenda .container .board button{
    height: fit-content;

}

.agenda .container .board .dia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
    
    border: 1px solid var(--borda);
    border-radius: var(--radius);
}
.agenda .container .board .dia .card{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 5px;
    background-color: var(--texto-menu);
    border-radius: var(--radius);
}
.agenda .container .board .dia .card .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.agenda .container .board .dia .card .conteudo *{
    font-size: 13px;
}    

.agenda .container .board .dia .card .conteudo p{
    font-weight: 500;
}    

.agenda .container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.agenda .container form .row{   
    width: 100%; 
    gap: 10px;
}
.agenda .container form .row button{   
    width: 100%; 
}

.agenda .container .horarios-disponiveis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    gap: 10px;
}
.agenda .container .horarios-disponiveis .grid-horarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;    
    gap: 10px;
}
.agenda .container .horarios-disponiveis .grid-horarios .card-horario{
    padding: 5px 10px;
    color: var(--primaria);
    border: 1px solid var(--terciaria);
    border-radius: var(--radius);
    cursor: pointer;
}
.agenda .container .horarios-disponiveis .grid-horarios .selected{
    background-color: var(--terciaria);
    color: white;
}