.configuracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.configuracoes form {
    width: 100%;
}

.configuracoes .row{
    width: 100%;
    gap: 10px;
}

.configuracoes .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    width: 100%;

    background-color: white;
    
    border: 1px solid var(--borda);
    border-radius: var(--radius);

}

.configuracoes .grid button{
    width: 100%;
}

.configuracoes .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 40%;
}
.configuracoes .modal .dietas-list {
    padding: 0;
    display: grid;
    flex-direction: column;
    height: 200px;
    overflow: auto;
    gap: 5px;

}
.configuracoes .modal .dietas-list .dieta {
    width: 100%;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid var(--borda);
    border-radius: var(--radius);
    cursor: pointer;
}
.configuracoes .modal .dietas-list .dieta:hover {
    background-color: var(--primaria-fundo);
}
.configuracoes .modal .dietas-list .dieta#ativo{
    background-color: var(--primaria-fundo);
}

.configuracoes .dieta-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.configuracoes .dieta-box .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.configuracoes .dieta-box .refeicao-dropdown-item {
    flex: 0 0 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;

    border: 1px solid var(--borda);
    border-radius: var(--radius);
}