.configuracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.configuracoes form {
    width: 100%;
}

.configuracoes .row{
    width: 100%;
    gap: 10px;
}

.configuracoes .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    width: 100%;

    background-color: white;
    
    border: 1px solid var(--borda);
    border-radius: var(--radius);

}

.configuracoes .grid button{
    width: 100%;
}