.meu-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.meu-perfil .dados {
    width: 100%;
}

.meu-perfil form {
    width: 100%;
}

.meu-perfil .row {
    width: 100%;
    gap: 10px;
}

.meu-perfil .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    width: 100%;

    background-color: white;
    border: 1px solid var(--borda);
    border-radius: var(--radius);
}

.meu-perfil .grid button {
    width: 100%;
}

/* Responsivo */
@media (max-width: 1000px) {
    .meu-perfil {
        padding: 15px;
    }

    .meu-perfil .grid {
        padding: 15px;
        gap: 12px;
    }

    .meu-perfil .row {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .meu-perfil {
        padding: 12px;
    }

    .meu-perfil .grid {
        padding: 12px;
    }
}