.select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.select-container label {
    font-size: 13px;
    letter-spacing: 1px;
}

.select-container select {
    width: 100%;

    border: none;
    outline: none;
    padding: 15px;

    background-color: var(--fundo);

    border-radius: var(--radius);

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
}

.select-container select:focus {
    outline: none;
}

.select-container select option {
    font-weight: 500;
}