.login{
    display: flex;
    width: 100%;
}

.login .esquerda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--primaria);
}

.login .esquerda .mensagem{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .esquerda p.titulo{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}
.login .esquerda p.subtitulo{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.login .direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100vh;
    background-color: white;
}

.login .direita h1{
    color: var(--texto);
}

.login .direita form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login .direita .input{
    width: 70%;
}
.login .direita .input label{
    font-size: 13px;
}
.login .direita .input input{
    border: 1px solid var(--borda);
}

.login .direita p.link{
    margin-left: auto;
    width: fit-content;
    margin-top: 5px;
    cursor: pointer;
}
.login .direita p.link:hover{
    color: var(--terciaria);
    text-decoration: underline;
}

.login .direita button {
    width: 70%;
}