.duvidas-ia{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.duvidas-ia .chat{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 660px;

    border: 1px solid var(--borda);
    border-radius: var(--radius);
    background-color: white;
}

.duvidas-ia .chat .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 9999px;
    
    background-color: var(--terciaria);    
}
.duvidas-ia .chat .icon svg{
    color: white;
}

.duvidas-ia .chat .cabecalho{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
    
    background-color: var(--secundaria);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.duvidas-ia .chat .cabecalho .info h3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    
}
.duvidas-ia .chat .cabecalho .info h3 svg{
    color: var(--quaternaria);
}
.duvidas-ia .chat .cabecalho .info p{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--quaternaria);
}

.duvidas-ia .chat .mensagens {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
}

.duvidas-ia .chat .mensagens .mensagem{
    display: flex;
    align-items: flex-start;
    gap: 15px;

    height: 500px;
}
.duvidas-ia .chat .mensagens .mensagem span{    
    width: 70%;
    padding: 10px;

    font-size: 15px;

    background-color: var(--borda);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

}

.duvidas-ia .chat .inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    
    border-top: 1px solid var(--borda);
}

.duvidas-ia .chat .inferior .enviar{
    display: flex;
    width: 100%;
    background-color: var(--fundo);
    border: 1px solid var(--borda);
    border-radius: var(--radius);
}

.duvidas-ia .chat .inferior .enviar button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: none;
    margin: 5px;
}

.duvidas-ia .chat .inferior p {
    font-size: 12px;
    color: var(--texto-secundario);
}