.exames{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.exames .lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 20px;
    
    background-color: white;
    border: 1px solid var(--borda);
    border-radius: var(--radius);    
}
.exames .lista .cabecalho{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    
    border: 1px solid var(--borda);
    border-radius: var(--radius);
}
.exames .lista .cabecalho .icon{    
    width: fit-content;
    height: fit-content;
    font-size: 45px;
}

.exames .lista .icon{
    background-color: var(--terciaria);
    color: white;
    padding: 5px;
    font-size: 28px;
    border-radius: var(--radius);    
    cursor: pointer;
    transition: 0.3s;
}
.exames .lista .icon:hover{
    background-color: var(--secundaria);
}
