.minha-agenda {
    display: flex;    
    justify-content: center;    
    padding: 25px;
}

.minha-agenda .container {
    display: flex;
    flex-direction: column;
    width: 660px;
    gap: 25px;
}

.minha-agenda .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minha-agenda .cabecalho button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.minha-agenda .agendamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    background-color: white;
    border: 1px solid var(--borda);
    border-radius: var(--radius);

}

.minha-agenda .agendamento .dados {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.minha-agenda .agendamento .dados .data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    
    background-color: var(--texto-menu);
    border-radius: var(--radius);
}
.minha-agenda .agendamento .dados .data .mes{
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secundaria);
    letter-spacing: 1px;
}
.minha-agenda .agendamento .dados .data .dia{
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primaria);
}

.minha-agenda .agendamento .dados .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.minha-agenda .agendamento .dados .info .status{
    display: flex;
    align-items: center;
    gap: 10px;
}
.minha-agenda .agendamento .dados .info .status span{
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    color: var(--secundaria);
    background-color: var(--texto-menu);
    padding: 2px 10px;
    border-radius: 9999px;
}

.minha-agenda .agendamento .dados .local {
    display: flex;
    align-items: center;
    gap: 5px;
}
.minha-agenda .agendamento .dados .local svg{
    color: var(--terciaria);
}
.minha-agenda .agendamento .dados .local span{
    font-size: 13px;
    font-weight: 600;
    color: var(--texto);
}

.minha-agenda .agendamento .acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.minha-agenda .agendamento .acoes svg{
    cursor: pointer;
}

.minha-agenda .historico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    
    border: 2px dashed var(--borda);
    border-radius: var(--radius);
}
.minha-agenda .historico div{
    padding: 10px;
    background-color: var(--borda);
    border-radius: 9999px;
}
.minha-agenda .historico svg{
    color: var(--texto);        
}

.minha-agenda .historico h4{
    color: var(--texto);
}
.minha-agenda .historico p{
    color: var(--texto-secundario);
}