:root {
  --fundo: #f8fafc;
  --primaria: #022c22;
  --primaria-fundo: #022c222d;
  --secundaria: #064e3b;
  --terciaria: #10b981;
  --quaternaria: #34d399;
  --azul: #3b82f6;
  --laranja: #f97316;
  --roxo: #a855f7;
  --vermelho: #bd2323;
  --vermelho-fundo: #bd232318;
  --texto-menu: #d1fae599;
  --texto: #525c69;
  --texto-secundario: #94a3b8;
  --borda: #e2e8f0;
  --radius: 15px;
  --shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--fundo);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;

  display: flex;

  overflow-x: hidden;
  background-color: var(--fundo);
}

div.App {
  flex: 1 1 auto;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div.row {
  display: flex;
}

div.column {
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

p.erro {
  color: var(--vermelho);
  font-size: 13px;
}

button {
  padding: 15px;
  border: none;
  border-radius: var(--radius);

  background-color: var(--terciaria);
  color: white;

  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: var(--secundaria);
}
button.cancel {
  background-color: transparent;
  border: 1px solid var(--terciaria);
  color: var(--terciaria);
}
button.cancel:hover {
  background-color: transparent;
  border: 1px solid var(--secundaria);
  color: var(--secundaria);
}
button.delete {
  background-color: var(--vermelho);
  color: white;
}

.divisor-horizontal{
  width: 100%;
  border-bottom: 1px solid var(--borda);
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}

table th {
  font-weight: 600;
}

table th,
table td {
  text-align: center;
  padding: 12px;
}

table tbody tr {
  border-bottom: 1px solid var(--borda);
}

table tbody tr:nth-child(odd) {
  background-color: var(--fundo);
}

table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table tbody tr:hover {
  background-color: var(--primaria-fundo);
  transition: background-color 0.2s ease;
}

table tbody tr:last-child {
  border-bottom: none;
}